
.background {

background-image: url(https://i.ibb.co/vx9Hk4G/texture-space-by-mjag-d16kfan.jpg);
background-size: cover;
background-size: 50%;



}


h1 {

  margin-top: 100px;
  margin-left: 500px;
  text-align:  center;
  font-family: rubik;
  color: white;
  position: absolute;
  font-style: italic;

}

h2 {
  margin-top: 200px;
  margin-left: 500px;
  text-align:  center;
  font-family: sans-serif;
  color: white;
  position: absolute;

}
