
.background {

background-image: url(https://i.ibb.co/vx9Hk4G/texture-space-by-mjag-d16kfan.jpg);
background-size: cover;
background-size: 50%;

}

.guest-button {
    margin: 100px 100 100px 0;
    padding: 0 20px 0 20px;
    border-radius: 1000px;

    opacity: 80%;
    cursor: pointer;
    background-color: #1C1C1C;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
}


h1 {

  margin-top: 100px;
  margin-left: 500px;
  text-align:  center;
  font-family: rubik;
  color: white;
  position: absolute;
  font-style: italic;

}

h2 {
  margin-top: 200px;
  margin-left: 500px;
  text-align:  center;
  font-family: sans-serif;
  color: white;
  position: absolute;

}
