
.background {

background-image: url(https://i.ibb.co/vx9Hk4G/texture-space-by-mjag-d16kfan.jpg);
background-size: cover;
background-size: 50%;

}
header {
    top: 0;
    margin: -30px;
    background-color: #1C1C1C;
    padding: 20px;
    color: white;

}

* {
    font-family: sans-serif;
    color: white;
}

.guest-button {
    margin: 1000px 10 100px 0;
    padding: 0 20px 0 20px;
    border-radius: 1000px;

    opacity: 80%;
    cursor: pointer;
    background-color: #1C1C1C;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 32px;

}

.button-menu a{
    -moz-appearance: button;
    -webkit-appearance: button;
    appearance: button;
    background-color: #1C1C1C;

    text-decoration: none;

    transition-duration: 0.4s;

    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float: right;
}

.button-menu:after {
    content: "";
    clear: both;
    display: table;


}

.button-menu a:hover {
    background-color:#7D6608;

}


h1 {

  margin-top: 100px;
  margin-left: 500px;
  text-align:  center;
  font-family: rubik;
  color: white;
  position: absolute;
  font-style: italic;

}

h2 {
  margin-top: 200px;
  margin-left: 500px;
  text-align:  center;
  font-family: sans-serif;
  color: white;
  position: absolute;

}

.loader {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    transition: width 2s 0.7s ease;
}
.loader .loader__icon {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 49%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    transition: opacity 0.7s ease;
}
.loader .loader__icon svg {
    transform-origin: 0 0;
}
.loader .loader__tile {
    position: absolute;
    left: 0;
    width: 0;
    height: 20%;
    background-color: black;
    transition: width 1s ease;
}
.loader .loader__tile:nth-child(0) {
    top: calc(-1 * 20%);
    transition-delay: -0.2s;
}
.loader .loader__tile:nth-child(1) {
    top: calc(0 * 20%);
    transition-delay: 0s;
}
.loader .loader__tile:nth-child(2) {
    top: calc(1 * 20%);
    transition-delay: 0.2s;
}
.loader .loader__tile:nth-child(3) {
    top: calc(2 * 20%);
    transition-delay: 0.4s;
}
.loader .loader__tile:nth-child(4) {
    top: calc(3 * 20%);
    transition-delay: 0.6s;
}
.loader .loader__tile:nth-child(5) {
    top: calc(4 * 20%);
    transition-delay: 0.8s;
}
.loader--active {
    width: 100%;
    transition-delay: 5s;
}
.loader--active .loader__icon {
    opacity: 1;
    transition: opacity 1s 3.4s ease;
}
.loader--active .loader__tile {
    width: 100%;
}
.loader--active .loader__tile:nth-child(0) {
    transition-delay: -0.2s;
}
.loader--active .loader__tile:nth-child(1) {
    transition-delay: 0s;
}
.loader--active .loader__tile:nth-child(2) {
    transition-delay: 0.2s;
}
.loader--active .loader__tile:nth-child(3) {
    transition-delay: 0.4s;
}
.loader--active .loader__tile:nth-child(4) {
    transition-delay: 0.6s;
}
.loader--active .loader__tile:nth-child(5) {
    transition-delay: 0.8s;
}
